<div class="panel panel-default">
  <div class="panel-body">
    <p>
      Welcome {{loggedInUser.username}} to the Destiny One Web Service Boot Camp.
    </p>
    <ol>
      <li>Implement a staff login page</li>
      <ul>
        <li>Authenticate with the Destiny One Internal View Service using client-side AJAX</li>
        <li>Staff users need to have the Web Service Access role</li>
      </ul>
      <li>Add basic styling using Bootstrap</li>
      <li>Implement a student search page</li>
      <li><strong>Implement a student certificate managment component for adding and dropping certificates</strong></li>
    </ol>
  </div>
</div>
<p>
  <search-students></search-students>
</p>
