<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="../assets/dslogo.jpg">
      </a>
    </div>
  </div>
</nav>
<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="col-md-12">
      <logged-in-user></logged-in-user>
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="grow-footer text-center">
  <img class="grow-logo" src="../assets/grow.png" />
  <span class="grow-title">Destiny One Grow! Conference 2017</span>
</div>
